<!DOCTYPE html>
<html>
<head lang="zh-cn">
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no, email=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" href="<%= htmlWebpackPlugin.options.baseUrl %>icon/<%= htmlWebpackPlugin.options.icon %>.ico">
  <link href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <script src="<%= htmlWebpackPlugin.options.baseUrl %>static/js/flexible.js"></script>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<!-- built files will be auto injected -->
<script src="https://cdn.bootcss.com/inobounce/0.1.6/inobounce.min.js"></script>
<script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
</body>
</html>

